* {
  box-sizing: border-box;
  margin: 0;
}

main {
  display: flex;
}

main .categories {
  border: 0.5px solid darkblue;
  width: 15%;
}

.main-page .search button {
  margin: 10px;
  padding: 0;
  width: 100px;
}

.main-page .search a h2 {
  text-align: center;
}

main .categories .category button {
  background-color: white;
  border: none;
  font-family: impact , sans-serif;
  font-weight: 700;
  text-align: left;
}

main .categories .category button:hover {
  color: blue;
}

main .categories ul {
  margin: 10px 0 0 -35px;
}

main .main-page .empty-cart {
  margin: 10px;
  text-align: center;
}

main .main-page {
  border: 0.5px solid darkblue;
  width: 85%;
}

main .main-page input {
  margin: 10px;
}

li {
  list-style: none;
}

.main-page .search {
  display: flex;
  justify-content: baseline;
  margin: 10px;
}

.main-page .search input {
  border-radius: 10px;
  margin: 10px;
  width: 60vw;
}

.main-page .search input:hover {
  border: 2px  solid darkblue;
}

.main-page .search a {
  color: blue;
  margin: 10px;
  text-decoration: none;
}

main .products-container .product a {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
}

.main-page .search a:hover {
  font-weight: 700;
}

.main-page .products-container {
  display: flex;
  flex-wrap: wrap;
}

main .products-container .product {
  align-items: center;
  border: 1px solid darkslateblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  margin: 10px;
  width: 250px;
}

main .products-container .product .link-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-page .products-container .product h2 {
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

.main-page .products-container .product h3 {
  margin: 10px;
}

.main-page .products-container .product img {
  height: 120px;
  margin-top: 10px;
}

.main-page .products-container .product p {
  font-weight: 700;
  margin-bottom: 5px;
}
